body {
    margin: 0;
    background-color: #333;
    font-family: Lato;
    color: #ddd;
    user-select: none;
}

#img {
    display: inline-block;
    margin: 20px;
    transition: 200ms;
    height: 300px;
    box-shadow: 0 0 20px black;
}

#img:hover {
    transform: scale(1.05);
}

header {
    width: 100vw;
    height: 165px;
    background-color: #222;
    box-shadow: 0 0 20px black;
    text-align: center;
    padding: 10px 0 0 0;
    font-size: 35px;
    color: #ff9c02;
}

span {
    display: inline-block;
    position: relative;
    top: calc(50vh - 94px);
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
    line-height: 20px;
    color: #555;
}

light {
    height: 2px;
    background: linear-gradient(90deg, purple, orange);
    width: 100vw;
    display: inline-block;
}

@font-face {
    src: url('lato.ttf');
    font-family: Lato;
}